body {
    font-family: 'Poppins', sans-serif;
}


/* Image  */

#image-main {
    height: 68vh;
}


/* input text of save-input */

#save-input {
    width: 22%;
}


/* save button width */

#save-button {
    width: 30%;
}


/* all borders */

.all-borders {
    background-color: #DCDCDC;
    border-radius: 5px;
    border-style: none;
    height: 35px;
}


/* button color and font color */

.btn {
    background-color: #59A5FF;
    color: white;
    font-weight: 500;
}